.footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 40px 20px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-top: 1px solid #ccc;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem; /* aumentei o espaçamento */
}

.footer-logo {
  flex: 0 0 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 60px 0px -50px;
}

.footer-logo img {
  width: 60%;
  cursor: pointer;
}

.footer-section {
  flex: 1;
  min-width: 200px;
}

.footer-section.links {
  margin-left: 40px;
}

.footer-section.contato {
  margin-left: 60px;
}
.footer-heading {
  font-size: 18px;
  font-weight: 600;
  color: #222;
  margin-bottom: 12px;
  border-bottom: 2px solid #0077cc;
  display: inline-block;
  padding-bottom: 4px;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #0077cc;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
  color: #666;
  border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-logo,
  .footer-section {
    margin-bottom: 20px;
  }
}