.nav {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    height: 90px;
    display: flex;
    align-items: center; /* centraliza verticalmente */
  }
  
  .nav-container {
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  
  .nav-left,
  .nav-right {
    display: flex;
    align-items: center;
  }
  
  .nav-logo img {
    max-height: 60px;
    width: auto;
    display: block;
  }
  
  .nav-right {
    gap: 1rem;
  }
  
  .icon {
    color: #050505;
  }
  
  .icon-small {
    width: 2rem;
    height: 2rem;
  }
  
  .notification-wrapper {
    position: relative;
    margin-right: 20px;
  }
  
  .notification-dropdown {
    position: absolute;
    right: 0;
    top: 40px;
    width: 200px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 15px;
    z-index: 100;
  }
  
  .notification-message {
    color: #333;
    font-size: 14px;
    text-align: center;
  }
  
  .icon-small.has-notifications {
    position: relative;
  }
  
  .icon-small.has-notifications::after {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }