/* Se já estiver em uso, não precisa repetir */
.consultas-listED {
  margin-top: 30px;
  padding: 25px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.consultas-listED h3 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: 600;
  color: #222;
  text-transform: uppercase;
}

.consultas-listED ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.consultas-listED li {
  background-color: #f1f1f1;
  margin-bottom: 12px;
  padding: 14px 20px;
  border-radius: 10px;
  border-left: 5px solid #28a745;
  font-size: 15px;
  color: #444;
}

.consultas-listED li strong {
  display: block;
  font-size: 16px;
  color: #222;
  font-weight: 600;
}



@keyframes fadeInOut {
  0% { opacity: 0; transform: translateX(-50%) scale(0.9); }
  20% { opacity: 1; transform: translateX(-50%) scale(1); }
  80% { opacity: 1; transform: translateX(-50%) scale(1); }
  100% { opacity: 0; transform: translateX(-50%) scale(0.9); }
}

/* Ajuste para garantir que os modais apareçam acima das mensagens */
.modal {
  z-index: 1000;
}

.option-cardEDM {
  padding: 1rem;
  border: 1px solid #e5e7eb;
  border-radius: 0.5rem;
  background-color: #3b82f6;
  cursor: pointer;

  p{
    color: rgb(241, 241, 241);
  }
}
.option-cardEdm {
  padding: 1rem;
  border: 1px solid #9d9da8;
  border-radius: 0.5rem;
  cursor: pointer;
  p{
    color: rgb(7, 7, 7);
  }
}

.option-titleedm {
  font-weight: 500;
  color: #000000;
}
.option-titleEDM {
  font-weight: 500;
  color: #f7f7f7;
}

.option-description {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.auto-filled {
  background-color: #f0f8ff; /* Azul bem clarinho */
  border-left: 3px solid #4682b4; /* Borda lateral azul */
}